﻿@page

<h1>Student Groups by Subjects</h1>
<table border="1">
    <tr>
        <th>Group</th>
        <th>Students</th>
    </tr>
    @{
        // Predefined choices for each student
        int[,] studentChoices ={
                        { 5, 3, 7, 2, 9 }, // Student 1
                        { 8, 1, 4, 6, 10 }, // Student 2
                        { 1, 4, 6, 9, 10 }, // Student 3
                        { 2, 5, 3, 7, 8 }, // Student 4
                        { 6, 8, 1, 2, 4 }, // Student 5
                        { 3, 5, 6, 7, 10 }, // Student 6
                        { 1, 2, 3, 4, 9 }, // Student 7
                        { 7, 8, 5, 6, 10 } // Student 8
                            };

        string[] subjects = { "Math", "Physics", "Chemistry", "Biology", "History", "Geography", "English", "Art", "Music", "Computer Science" };

        Dictionary<string, List<string>> groups = new Dictionary<string, List<string>>();

        // Generate groups
        for (int i = 0; i < 8; i++)
        {
            List<int> choices = new List<int>();
            for (int j = 0; j < 5; j++)
            {
                int choice = studentChoices[i, j];
                choices.Add(choice);
            }

            choices.Sort();
            string groupName = GetGroupName(choices.Select(c => subjects[c - 1]).ToArray());

            if (!groups.ContainsKey(groupName))
            {
                groups[groupName] = new List<string>();
            }

            groups[groupName].Add($"Student {i + 1}: {String.Join(", ", choices.Select(c => subjects[c - 1]))}");
        }

        // Print out groups
        foreach (var group in groups)
        {
            <tr>
                <td>@group.Key</td>
                <td>
                    @foreach (var student in group.Value)
                    {
                        <p>@student</p>
                    }
                </td>
            </tr>
        }
    }
</table>

@functions {
    string GetGroupName(string[] subjects)
    {
        // Define meaningful group names based on subjects
        if (subjects.Contains("Math") && subjects.Contains("Physics"))
        {
            return "Science Enthusiasts";
        }
        else if (subjects.Contains("History") && subjects.Contains("Geography"))
        {
            return "Social Studies Buffs";
        }
        else if (subjects.Contains("Art") || subjects.Contains("Music"))
        {
            return "Creative Minds";
        }
        else
        {
            return "Generalists";
        }
    }
}
